html{
    height: 100%;
    width: 100%;
}
.h1{
    height: 1.875rem;
}
li{
    font-size: 0.813em;
    font-weight: bold;
}
#caro-cap{
    padding-left: 30%;
    padding-right: 0%;
    padding-bottom: 7%;
    text-align: right;
}
#barra{
    background-color: rgb(65, 65, 65);   
}
#boton{
    border-color: lightgray;
    border-width: 0.125rem;
}
#card{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 1.25rem;
   padding: 0.063rem;
}
#boton_js{
    font-weight:bold;
    font-size: 0.875rem;
    width:4,6875;
    padding: 0rem;
    font-family:'Times New Roman';   
}
#boton_react{
    font-weight:bold;
    color: white;
    font-size: 0.875rem;
    width:3.125rem;
    padding: 0rem;
    font-family:'Times New Roman';  
    background-color: rgb(28, 156, 156);  
}
#boton_negocios{
    font-weight:bold;
    font-size: 0.875rem;
    width:3.500rem;
    padding: 0rem;
    font-family:'Times New Roman';   
}
#boton_startups{
    font-weight:bold;
    font-size: 0.875rem;
    width:3.500;
    padding: 0rem;
    font-family:'Times New Roman';
}
#btn{
    width: 50rem;   
    margin-bottom: 0.9375rem; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    background-color: rgb(135, 202, 96);
    border: none;
    color: white;
}
#enviar{
    width: 81rem;   
    margin-bottom: 0.9375rem; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    background-color: rgb(135, 202, 96);
    border: none;
    }
footer{
    height: 100%;
    width: 100%;
    background-color: rgb(31, 81, 122);
}
#foot{
    background-color: rgb(31, 81, 122);
    color: white;
    display:inline-flex;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-right: 0.313rem;
    margin-left: 0.313rem;
    width: 100%;
    height: 100%;
    font-size: 0.938rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
.foot{
    background-color: rgb(31, 81, 122);
    width: 100%; 
    padding-right: 0.625rem;
    height: 100%;
    text-decoration:none;
    color: white;
    
}
.foot:hover{
    color: white;
}









